body {
	margin: 0;
	padding: 0;
	
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #fff;
	
	background-color: #849d8f;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
	min-width: 1200px;
	background-color: #849d8f;
	background-image: url("../img/big-ice1.png");
	background-repeat: no-repeat;
	background-position: top center;
	
	-webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
	
	-o-transition: background-image 0.5s ease, background-color 0.5s ease;
	
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
	content: "";
	
	visibility: hidden;
}

.site-wrapper::before {
	background-image: url("..//img/big-ice2.png");
}

.site-wrapper::after {
	background-image: url("..//img/big-ice3.png");
}

.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0 27px;
}

.main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.main-navigation img{
	margin-top: 9px;
	margin-right: 11px;
}

.site-navigation,
.user-navigation,
.road-list,
.catalog-list {
	list-style: none;
}

.road-list a {
	color: #fff;
	text-decoration: none;
}

.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	padding: 0;
	
	width: 400px;
	margin-right: auto;
	
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	color: #fff;
}

.site-navigation > li {
	position: relative;
	margin: 0;
	margin-right: 1px;
	padding: 0;
	margin-top: 30px;
}

.navigation-background > a {
	padding: 7px 13px;
	
	color: #fff;
	text-decoration: none;
}

.navigation-background span {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navigation-background span:hover,
.navigation-background span:focus,
.navigation-background span:active {
	border-bottom: none;
}

.navigation-background > a:hover,
.navigation-background > a:focus {
	color: #323232;
	text-decoration: none;

	border-radius: 25px;	
	background-color: #f7f6f3;

}

.navigation-background > a:active {
	color: #323232;
	text-decoration: none;
	
	border-radius: 25px;
	-webkit-box-shadow: inset 0 2px 1px 0 #696969;
	        box-shadow: inset 0 2px 1px 0 #696969;
	background-color: #f7f6f3;
}

.site-navigation-catalog {
	display: none;
	position: absolute;
	left: -8px;
	top: 30px;
	width: 143px;
	list-style: none;
	margin: 0;
	padding: 0;
	
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;

	-webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

	        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	background-color: #f8f7f4;
	border-radius: 5px;
	z-index: 10;
}

.site-navigation-catalog li:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.site-navigation-catalog li:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.catalog-popap:hover .site-navigation-catalog {
	display: block;
}

.site-navigation-catalog li {
	margin: 0;
	padding: 0;
}

.site-navigation-catalog li:first-child {
	font-weight: bold;
}

.site-navigation-catalog li:hover,
.site-navigation-catalog li:focus {
	background-color: #fbded7;
}

.site-navigation-catalog li:active {
	background-color: #f6b5a5;
}

.site-navigation-catalog a {
	display: block;
	margin: 0 9px 0 6px;
	padding: 0;
	padding-top: 8px;
	padding-bottom: 10px;
	padding-left: 15px;
	
	color: #323232;	
	text-decoration: none;
}

.site-navigation-item a {
	padding-top: 11px;
	padding-bottom: 11px;
	
	border-bottom: 1px solid #323232;
}

.site-navigation-online {
	background-color: #d07058;
}

.page-focus > a {
	color: #fff;
	text-decoration: none;
	background-color: #d07058;
	border-radius: 25px;
}

.page-focus span {
	border-bottom: none;
}

.user-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	width: 340px;
	margin: 0;
	padding: 0;
}

.user-navigation > li {
	margin: 0;
	padding: 0;
	margin-top: 28px;
	margin-left: 10px;
}

.user-navigation .user-navigation-search {
	position: relative;
	margin-top: 22px;
}

.user-navigation-search button {
	width: 33px;
	height: 33px;
	
	border: none;
	
	background-color: rgba(255, 255, 255, 0.2);	
	background-image: url("../img/loupe.svg");
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 50%;
}

.user-navigation-search button:hover,
.user-navigation-search button:focus,
.user-navigation-search button:active {
	background-color: #f8f7f4;
	background-image: url("../img/loupe-black.svg");
	background-repeat: no-repeat;
	background-position: 50%;
	
}

.user-search {
	display: none;
	position: absolute;
	top: 37px;
	right: -16px;
	
	padding: 20px 15px;
	border: none;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	
	        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	background-color: #f8f7f4;
	z-index: 10;
}

.user-navigation-search:hover .user-search,
.user-navigation-search:focus .user-search,
.user-navigation-search:active .user-search {
	display: block;
}

.user-search input {
	min-width: 311px;
	min-height: 44px;
	padding-left: 15px;
	vertical-align: middle;
	border-radius: 5px;
	
	background-color: #fff;
}

.user-navigation-enter > a,
.user-navigation-basket > a {
	margin: 0;
	padding: 7px 17px 8px 43px;
	
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
	border-radius: 25px;
	
	background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation-basket .basket-link-full {
	color: #323232;
	
	background-color: #f8f7f4;
}

.login-link::before {
	content: "";
	position: absolute;
	
	left: 16px;
	top: 2px;
	width: 21px;
	height: 19px;
	
	background-image: url("../img/door.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.basket-link::before {
	content: "";
	position: absolute;
	
	left: 16px;
	top: 2px;
	width: 21px;
	height: 20px;
	
	background-image: url("../img/basket.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.basket-link-full::before {
	content: "";
	position: absolute;
	
	left: 16px;
	top: 2px;
	width: 21px;
	height: 20px;
	
	background-image: url("../img/basket-full.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
	background-image: url(../img/door-black.svg);
}

.user-navigation-enter,
.user-navigation-basket {
	position: relative;
}

.login-form {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	top: 33px;
	right: 0;
	
	margin: 0;
	padding: 20px;
	
	border-radius: 5px;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	background-color: #f8f7f4;
	z-index: 20;
}

.login-user {
	display: none;
}

.user-navigation-enter:hover .login-user {
	display: block;
}

.login-form input {
	width: 241px;
	min-height: 44px;
	vertical-align: middle;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	padding-left: 15px;
	
	border-radius: 5px;
	border: 1px solid #d3d3d2;
	background-color: #fff;
}

.enter-and-registration {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.enter-and-registration .registration {
	list-style: none;
	margin: 0;
	margin-left: 20px;
	padding: 0;
	color: #323232;
}

.registration a {
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: inherit;
}

.user-navigation-enter a:hover,
.user-navigation-enter a:focus,
.user-navigation-enter a:active {
	color: #323232;
	
	background-color: #f8f7f4;
}

.registration a:hover,
.registration a:focus,
.registration a:active {
	color: #e84d37;
}

.ice-user-basket {
	display: none;
	position: absolute;
	right: 0;
	top: 32px;
	width: 540px;
	margin: 0;
	padding: 0;
	
	border-radius: 5px;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	background-color: #f8f7f4;
	
	z-index: 20;
}

.user-navigation-basket:hover .ice-user-basket,
.user-navigation-basket:focus .ice-user-basket,
.user-navigation-basket:active .ice-user-basket {
	display: block;
}

.ice-user-basket table {
	width: 510px;
	margin: 15px;
	padding: 0;
	padding-bottom: 15px;
	border-collapse: collapse;
	border-bottom: 1px solid #cacac7;
	
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
}

.basket-of-ice-line {
	vertical-align: top;
	padding-top: 20px;
	padding-bottom: 15px;
}

.basket-of-ice td:first-child {
	width: 20px;
	vertical-align: top;
}

.basket-of-ice button {
	margin: 0;
	margin-top: 10px;
	padding: 0;
	font-size: 0;
	width: 11px;
	height: 11px;
	
	background-color: inherit;
	border: none;
	cursor: pointer;
}

.basket-of-ice img {
	border-radius: 50%;
}

.basket-of-ice td:nth-child(2) {
	width: 45px;
	text-align: left;
	vertical-align: top;
}

.basket-of-ice td:nth-child(3) {
	width: 220px;
}

.basket-of-ice td:nth-child(4) {
	width: 150px;
	text-align: center;
}

.basket-of-ice td:last-child {
	text-align: center;
}

.basket-of-ice span {
	color: #999999;
}

.price-and-buy {
	text-align: right;
	margin-bottom: 30px;
}

.price-and-buy p {
	margin: 0;
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
	padding: 0;
	text-align: right;
	
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	color: #323232;
}

.price-and-buy .button {
	margin: 0;
	margin-right: 15px;
	text-decoration: none;
}

.site-information {
	margin-top: -6px;
	margin-right: -1px;
	margin-bottom: 0;
	text-align: right;
	
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #fff;
}

.site-information p {
	margin: 0;
}

.site-information .site-information-callnumber {
	margin-top: 5px;
	font-size: 22px;
	line-height: 24px;
}

.slider {
	position: relative;
	
	padding-top: 275px;
	
	text-align: center;
	color: #fff;
}

.slider-list {
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.slide {
	display: none;
}

.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 27px;
	
	font-size: 60px;
	line-height: 60px;
	font-weight: bold;
}

.slider-controls {
	position: absolute;
	bottom: 20px;
	left: 0;
	z-index: 20;
	
	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	
	vertical-align: top;
	
	background-color: transpatent;
	border: 2px solid #fff;
	border-radius: 50%;
}

#product-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/big-ice1.png");
}

#product-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/big-ice2.png");
}

#product-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/big-ice3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
	display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
	background-color: #fff;
}

#product-1:checked ~ .site-wrapper label[for="product-2"]:hover,
#product-1:checked ~ .site-wrapper label[for="product-3"]:hover,
#product-2:checked ~ .site-wrapper label[for="product-1"]:hover,
#product-2:checked ~ .site-wrapper label[for="product-3"]:hover,
#product-3:checked ~ .site-wrapper label[for="product-1"]:hover,
#product-3:checked ~ .site-wrapper label[for="product-2"]:hover {
	background-color: rgba(248, 247, 244, 0.4);
}

.main-catalog {
	margin-top: -19px;
}

.stock {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-top: 41px;
	margin-bottom: 40px;
}

.stock-raspberries,
.stock-chocolate {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 17px 10px 22px 18px;
	
	width: 531px;
	
	border-radius: 15px;
}

.stock-raspberries h3,
.stock-chocolate h3{
	margin: 0;
	padding: 0;
	
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
}

.stock-raspberries p,
.stock-chocolate p{
	margin: 0;
	margin-top: 15px;
	margin-bottom: 45px;
	padding: 0;
	
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

.stock-raspberries a,
.stock-chocolate a{
	padding: 10px 23px 11px 21px;
	
	display: inline-block;
	-ms-flex-item-align: end;
	    align-self: flex-end;
	vertical-align: middle;
	margin-right: 10px;
	
	text-decoration: none;
}

.stock-raspberries {
	background-color: #a3010e;
	background-image: url("../img/raspberries.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.stock-chocolate {
	background-color: #66412f;
	background-image: url("../img/chocolate.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.features {
	margin: 0;
	margin-top: 1px;
	margin-bottom: 40px;
	padding: 0;
	padding-left: 21px;
	padding-top: 26px;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	
	border-radius: 15px;
	background-color: #e9dbb6;
	background-image: url("../img/wafer.jpg");
	background-repeat: no-repeat;
}

.features p {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.features .features-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
	padding: 0;
	padding-left: 56px;
	padding-right: 25px;
	
	list-style: none;
}

.features-item {
	position: relative;
	width: 479px;
	margin: 0;
	padding: 0;
	padding-bottom: 23px;
	z-index: 2
}

.features-item::before {
	content: "";
	position: absolute;
	top: -13px;
	left: -56px;
	width: 49px;
	height: 49px;
	
	background-repeat: no-repeat;
	background-position: 0 0;
}

.features-item:first-child::before {
	background-image: url("../img/ice-cream.svg");
}

.features-item:nth-child(2)::before {
	background-image: url("../img/cow.svg");
}

.features-item:nth-child(3)::before {
	background-image: url("../img/leaf.svg");
}

.features-item:last-child::before {
	background-image: url("../img/termometer.svg");
}

.blog-and-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.blog {
	width: 560px;
	min-height: 220px;
	margin-right: auto;
	padding: 23px 20px ;
	
	box-sizing: border-box;
	border-radius: 15px;
	background-color: #fff;
	background-image: url("../img/news.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.blog p {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
		
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #323232;
}

.blog a {
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #323232;
	text-decoration: underline;
	text-decoration-skip-ink: none;
}

.blog h3 {
	margin: 0;
	padding: 0;
	font-size: inherit;
	line-height: inheriy;
	font-weight: inherit;
}

.blog a:hover,
.blog a:focus,
.blog a:active {
	color: #e84d37;
}

.subscription {
	margin: 0;
	padding: 0;	
	width: 560px;
	min-height: 220px;
	
	background-image: url("../img/form.svg");
	background-repeat: no-repeat;
}

.subscription-back {
	min-height: 211px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 4px 5px 5px 6px;
	padding: 0;
	
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
	
	border-radius: 10px;
	background-color: #f8f7f4;
}

.subscription-back p {
	margin: 30px 10px 0px 21px;
}

.subscription-form {
	margin: 0;
	padding: 0;
	margin-left: 20px;
	margin-bottom: 35px;
}

.subscription-form input {
	width: 352px;
	margin-top: 35px;
	min-height: 42px;
	padding-left: 15px;
	
	border-radius: 5px;
	background-color: #fff;
}

.subscription-form .button {
	padding: 10px 18px;
	margin-left: 10px;
}

.map-and-contacts {
	position: relative;
	margin: 0 auto;
	padding: 0;
	
	width: 1200px;
	min-height: 430px;
	
	background-image: url("../img/map-ice.svg"), url("../img/ice-shadow.png"), url("../img/map.jpg");
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: 266px 139px, 302px 171px, -45px 0;
}

.contacts {
	position: absolute;
	top: 63px;
	right: 26px;
	padding: 28px 25px;
	
	width: 302px;
	min-height: 305px;
	
	background-color: #fff;
	border-radius: 15px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.contacts p {
	width: 175px;
	margin: 0;
	padding: 0;
	
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	
	color: #323232;
}

.contacts p:nth-child(3) {
	margin-top: 20px;
}

.contacts p:nth-child(4) {
	margin: 3px 0;
}

.contacts b {
	display: inline-block;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.contacts .contacts-bold {
	width: 260px;
}

.contacts a {
	display: inline-block;
	margin: 0;
	margin-top: 24px;
	padding-left: 27px;
	padding-right: 27px;
	
	text-align: center;
	text-decoration: none;
}

.road-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	
	font-size: 14px;
	line-height: 16px;
}

.road-item {
	margin: 0;
	padding: 0;
	margin-right: 21px;
}

.road-item a {
	position: relative;
	text-decoration: none;
}

.road-item span {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.road-item a::after {
	content: "\BB";
	position: absolute;
	right: -16px;
	color: #fff;
}

.catalog-name {
	margin: 0;
	margin-top: 5px;
	padding: 0;
	
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
	color: #fff;
}

.selection {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	width: 857px;
	margin: 0;
	margin-top: 25px;
	padding: 0;
}

.selection label,
.selection p,
.selection output {
	margin: 0;
	padding: 0;
	
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.selection-sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.selection-sorting label {
	margin-left: 16px;
	margin-bottom: 5px;
}

.selection-sorting select {
	width: 192px;
	padding: 10px 0 10px 16px;
	
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #fff;
	
	border: none;
	background-color: rgba(248, 247, 244, 0.2);
	background-image: url("../img/icon-down-dir-white.svg");
	background-repeat: no-repeat;
	background-position: 167px 14px;
	border-radius: 25px;
	
	-moz-appearance: none;
	-webkit-appearance: none;
}

.selection-sorting select:hover {
	color: #323232;
	background-image: url("../img/icon-down-dir.svg");
}

.selection-sorting select:focus {
	color: #323232;
	
	background-color: #f8f7f4;
	background-image: url("../img/icon-down-dir-small.svg");
	background-position: 167px 17px;
}

.selection-sorting select::-ms-expand {
  display: none;
}

.selection-price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.selection-price label {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-left: 16px;
	margin-bottom: 5px;
}

.selection-range {
	padding: 17px 21px 17px 22px;
	
	background-color: rgba(248, 247, 244, 0.2);
	border-radius: 25px;
}

.disable-range {
	position: relative;
	
	width: 176px;
	height: 4px;
	
	background-color: rgba(248, 247, 244, 0.5);
}

.action-range {
	position: absolute;
	top: 0;
	left: 16px;
	
	width: 107px;
	height: 4px;
	
	background-color: rgb(248, 247, 244);
	z-index: 4;
}

.selection-range .left-range-btn,
.selection-range .right-range-btn {
	padding: 0;
	width: 20px;
	height: 20px;
	
	background-color: #849d8f;
	-webkit-box-shadow: inset 0 0 0 8px rgb(248, 247, 244);
	        box-shadow: inset 0 0 0 8px rgb(248, 247, 244);
	border-radius: 50%;
	border: none;
	
	cursor: pointer;
}

.left-range-btn {
	position: absolute;
	top: -8px;
	left: 13px;
	
	z-index: 5;
}

.right-range-btn {
	position: absolute;
	top: -8px;
	right: 45px;
	
	z-index: 5;
}

.selection-fat {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.selection-fat p {
	margin-left: 16px;
	margin-bottom: 5px;
}

.selection-fat div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	width: 382px;
	padding: 10px 17px 10px 17px;
	
	background-color: rgba(248, 247, 244, 0.2);
	border-radius: 25px;
}

.selection-fat label {
	position: relative;
	margin: 0;
	padding: 0;
	padding-left: 30px;
	vertical-align: bottom;
	
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
}

.selection-fat input[type="radio"] + .radio-indicator {
	position: absolute;
	top: -1px;
	left: -1px;
	
	width: 22px;
	height: 22px;
	
	opacity: 0.8;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.selection-fat input[type="radio"]:checked + .radio-indicator {
	background-image: url("../img/radio-on.svg");
}

.selection-fat input[type="radio"]:hover + .radio-indicator,
.selection-fat input[type="radio"]:focus + .radio-indicator {
	opacity: 1;
}

.selection-fat input[type="radio"]:disabled + .radio-indicator {
	opacity: 0.4;
}

.selection-filler {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.selection-filler p {
	margin-top: 15px;
	margin-left: 16px;
	margin-bottom: 5px;
}

.filler-checkbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	width: 671px;
	
	padding: 10px 16px;
	
	background-color: rgba(248, 247, 244, 0.2);
	border-radius: 25px;
}

.filler-checkbox label {
	position: relative;
	margin: 0;
	padding: 0;
	padding-left: 30px;
	
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
}

.filler-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: 0;
	left: -2px;
	
	width: 24px;
	height: 20px;
	
	opacity: 0.8;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 50%;
}

.filler-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
	background-image: url("../img/checkbox-on.svg");
}

.filler-checkbox input[type="checkbox"]:hover + .checkbox-indicator,
.filler-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
	opacity: 1;
}

.filler-checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
	opacity: 0.4;
}


.selection .btn-submit {
	-ms-flex-item-align: end;
	    align-self: flex-end;
	padding: 8px 25px;
	margin: 0;
	
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #fff;
	border: 2px solid #fff;
	
	background-color: rgba(248, 247, 244, 0.2);
	border-radius: 25px;
	cursor: pointer;
}

.selection .btn-submit:hover,
.selection .btn-submit:focus {
	color: #323232;
	
	background-color: #fff;
}

.selection .btn-submit:active {
	color: #323232;
	
	background-color: #ededed;
	-webkit-box-shadow: inset 0 2px 1px 0 #696969;
	        box-shadow: inset 0 2px 1px 0 #696969;
	border: none;
}

.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	margin-top: 40px;
	padding: 0;
}

.catalog-item {
	position: relative;
	width: 267px;
	margin: 0;
	margin-right: 26px;
	padding: 0;
	padding-bottom: 40px;
	
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-align: center;
	color: #fff;
}

.hit-item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	
	width: 61px;
	height: 61px;
	
	background-image: url("../img/hit.svg");
	background-repeat: no-repeat;
	
	z-index: 1;
}

.catalog-item:nth-child(4n) {
	margin-right: 0;
}

.catalog-item img {
	margin: 0;
	padding: 0;
	
	border-radius: 50%;
}

.catalog-item figure {
	margin: 0;
	padding: 0;
}

.catalog-item figcaption {
	margin: 0;
	margin-top: 9px;
	margin-bottom: -5px;
	padding: 0;
}

.catalog-item a {
	position: relative;
	margin: 0;
	padding: 0;
	
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #fff;
	text-decoration: none;
	z-index: 105;
}

.catalog-item span {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-item p {
	position: absolute;
	top: 210px;
	left: -1px;
	margin: 0;
	padding: 0;
	
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
	
	z-index: 5;
}

.catalog-item .disain-price {
	font-size: 30px;
}

.catalog-item .button {
	position: absolute;
	display: none;
	left: 30px;
	padding: 10px 17px;
	bottom: -10px;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: #fff;
		
	text-decoration: none;
	cursor: pointer;
	
	z-index: 100;
}

.catalog-item div:before {
	content: "";
	display: none;
	position: absolute;
	top: -6px;
	left: -14px;
	width: 293px;
	height: 405px;
	opacity: 0.2;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	background-color: #f8f7f4;
	border-radius: 5px;
	
	z-index: 1;
}

.catalog-item:hover a,
.catalog-item:hover div:before {
	display: block;
}

.road-number {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin: 0;
	margin-bottom: 30px;
	margin-top: 47px;
	margin-right: -5px;
	padding: 0;
	
	list-style: none;
}

.road-number-item {
	margin: 0;
	margin-left: 4px;
}

.road-number-item a {
	margin: 0;
	padding: 4px 8px 3px 8px;
	
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #fff;
	
	background-color: #849d8f;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

.road-number .road-number-active {
	color: #323232;
	
	background-color: #fff;
}

.road-number-item:first-child {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.road-number-item:first-child a {
	opacity: 0.2;
	cursor: default;
	pointer-events: none;
}

.road-number-item a:hover:not(.road-number-active),
.road-number-item a:focus:not(.road-number-active) {
	background-color: rgba(248, 247, 244, 0.2);
}

.road-number-item a:active:not(.road-number-active) {
	color: #323232;
	
	background-color: #fff;
}

.button {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
	color: #fefefe;
	vertical-align: middle;
	padding: 10px 25px;
	border-radius: 25px;
	
	background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
	
	background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
	
	background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
	
	background-image: linear-gradient(to top, #e74a35, #f26843);
	-webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
	        box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
	border: none;
}

.slide-button {
	display: inline-block;
	padding: 12px 44px;
	
	font-weight: bold;
	font-size: 31px;
	line-height: 41px;
	text-align: center;
	color: #fff;
	vertical-align: top;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	
	background: #f26843;
	background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 50px;
	-webkit-box-shadow: 0 2px 2px rgba (172, 16, 0, 0.64);
	        box-shadow: 0 2px 2px rgba (172, 16, 0, 0.64);
	border: none;
}

.main-footer {
	padding-bottom: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social,
.footer-list {
	list-style: none;
}

.main-footer a {
	color: #fff;
}

.network-social {
	width: 200px;
}

.footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	margin-top: 34px;
	padding: 0;
}

.footer-social li {
	position: relative;
	margin: 0;
	margin-right: 49px;
	margin-bottom: 20px;
	padding: 0;
}

.social-button {
	display: block;
	position: absolute;
	top: 3px;
	left: 3px;
	font-size: 0;
	
	width: 32px;
	height: 32px;
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
	opacity: 0.8;
	z-index: 20;
}

.social-button:hover,
.social-button:focus {
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
	opacity: 1;
}

.social-button:active {
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
	opacity: 0.7;
}

.tw-btn {
	background-image: url("../img/twitter.svg");
}

.inst-btn {
	background-image: url("../img/insta.svg");
}

.face-btn {
	background-image: url("../img/face.svg");
}

.vk-btn {
	background-image: url("../img/vk.svg");
}

.network-information {
	width: 330px;
	margin-left: -12px;
}

.footer-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-top: 32px;
	
	font-size: 13px;
	line-height: 18px;
	color: #fff;
}

.footer-item {
	min-width: 165px;
	margin: 0;
	padding: 0;
}

.footer-item:nth-child(2n-1) a {
	margin-left: 15px;
}

.footer-item:nth-child(2n) a {
	margin-left: -8px;
}

.footer-item a {
	display: inline-block;
	margin-bottom: 4px;
}

.footer-item a,
.footer-copyright a {
	text-decoration: none;
}

.footer-item span,
.footer-copyright span {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-item:first-child {
	position: relative;
	font-weight: bold;
}

.footer-item:first-child::before {
	content: "";
	position: absolute;
	top: 3px;
	left: -7px;
	width: 15px;
	height: 13px;
	
	background-image: url("../img/heart.svg");
}

.road-list a:hover,
.road-list a:focus,
.road-list a:active,
.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active,
.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active {
	color: #ffbc9e;
}

.road-list span:hover,
.road-list span:focus,
.road-list span:active,
.main-footer span:hover,
.main-footer span:focus,
.main-footer span:active,
.catalog-item span:hover,
.catalog-item span:focus,
.catalog-item span:active {
	border-bottom-color: rgba(255, 188, 158, 0.3);
}


.button:hover,
.button:focus,
.catalog-item .button:hover,
.catalog-item .button:focus,
.login-user .button:hover,
.login-user .button:focus,
.ice-user-basket .button:hover,
.ice-user-basket .button:focus {
	outline: none;
	
	color: #fff;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
	
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	
	background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	-webkit-box-shadow: 0 2px 2px 0 #ac1000;
	        box-shadow: 0 2px 2px 0 #ac1000;
}

.button:active,
.catalog-item .button:active,
.login-user .button:active,
.ice-user-basket .button:active {
	color: #fff;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843)), 
	-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07)));
	
	background-image: -webkit-linear-gradient(top, #e74a35, #f26843), 
	-webkit-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
	
	background-image: -o-linear-gradient(top, #e74a35, #f26843), 
	-o-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
	
	background-image: linear-gradient(to bottom, #e74a35, #f26843), 
	linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
	-webkit-box-shadow: inset 0 2px 2px #942718;
	        box-shadow: inset 0 2px 2px #942718;
}

.footer-copyright {
	width: 190px;
	margin: 0;
	padding: 0;
	margin-top: 18px;
	margin-right: -3px;
	
	font-size: 12px;
	line-height: 18px;
	color: #fefefe;
}

.footer-copyright a {
	margin: 0;
	padding: 0;
	color: #fefefe;
}

.footer-copyright p {
	margin: 0;
	padding: 0;
}

.calling-user {
	display: none;
	position: fixed;
	top: 337px;
	left: 50%;
	width: 478px;
	margin: 0;
	margin-left: -239px;
	padding: 0;
	
	border-radius: 10px;
	background-color: #f8f7f4;
	
	z-index: 120;
}

.close-button {
	position: absolute;
	top: 17px;
	right: 17px;
	
	width: 18px;
	height: 18px;
	
	font-size: 0;
	
	background-color: #f8f7f4;
	background-image: url("../img/close.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: none;
}

.form-calling-user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 0 25px;
	padding: 0,
}

.form-calling-user p {
	display: inline-block;
	
	margin: 0;
	margin-top: 20px;
	padding: 0;
	
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: #323232;
}

.call-name input,
.call-email input,
.form-calling-user textarea {
	margin: 0;
	padding: 0;
	margin-top: 20px;
	padding-left: 15px;
	
	border-radius: 5px;
	background-color: #fff;
}

.call-name input,
.call-email input {
	min-width: 267px;
	height: 44px;
}

.form-calling-user textarea {
	min-width: 408px;
	min-height: 155px;
	padding-top: 10px;
}

.form-calling-user .button {
	margin: 0;
	margin-top: 20px;
	margin-bottom: 26px;
	margin-left: auto;
}

.user-navigation-search input,
.user-navigation-enter input,
.subscription-back input,
.calling-user input,
.calling-user textarea {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999;
	
	border: none;
	-webkit-box-shadow: inset 0 0 0 1px rgba(154, 154, 154, 0.52);
	        box-shadow: inset 0 0 0 1px rgba(154, 154, 154, 0.52);
}

.user-navigation-search input:hover,
.user-navigation-enter input:hover,
.subscription-back input:hover,
.calling-user input:hover,
.calling-user textarea:hover {
	-webkit-box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
	        box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.user-navigation-search input:focus,
.user-navigation-enter input:focus,
.subscription-back input:focus,
.calling-user input:focus,
.calling-user textarea:focus {
	-webkit-box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
	        box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.user-navigation-search input:valid,
.user-navigation-enter input:valid,
.subscription-back input:valid,
.calling-user input:valid,
.calling-user textarea:valid {
	color: #323232;
	
	background-color: #fff
}